# Ignore JetBrains IDE config
.idea/

# Ignore local planning folder
docs/planning/
backend/scripts/

# Ignore backend/ script
init_backend.sh

# Secrets
backend/.env

# Ignore virtual environment
backend/venv

# Ignore pycache
__pycache__/
*.pyc
*.py[cod]
*.pyo

# Ignore Alembic logs if any are generated
alembic.log